html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

a {
  color: #c50e1f;
}

.answer-yes {
  color: #109f6a;
}

.answer-no {
  color: #c50e1f;
}

.answer-maybe {
  background-image: linear-gradient(to left, #c50e1f, #109f6a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}

#main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  font-size: 32px;
}

#answer {
  margin: 32px;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-small {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150%;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  display: block;
  top: 0;
  right: 0;
  position: absolute;
}

